.wrapper-field {
    margin: 0 auto;
    width: 26.042vw;
    height: 26.042vw;
}
.field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.btn-game {
    width: 6.250vw;
    height: 6.250vw;
    margin: 1px;
    font-size: 32px;
}
.true {
    color: green;
}
.false {
    color: red;
}
@media (min-width: 320px) and (max-width: 767px) {
    .wrapper-field {
        width: 90vw;
        height: 90vw;
    }
    .btn-game {
        width: 20vw;
        height: 20vw;
    }
}